/* Minimal reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  max-width: 100%;
}

button, input, textarea, select {
  font: inherit;
}
